<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="EquipmentDto" type="com.helldivers.board.domain.EquipmentDto"/>
        <typeAlias alias="EnemyDto" type="com.helldivers.board.domain.EnemyDto"/>
    </typeAliases>
</configuration>